<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>В Дагестане проводят мероприятия к 80-летию Великой Победы</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" >
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="150" alt="Логотип">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/live">Жизнь после СВО</a></li>
                <li><a href="/doc">Документы</a></li>
                <li><a href="/newsboard">Новости</a></li>
                <li><a href="/naviga">Навигация</a></li>
                <li><a href="/art">Искусство</a></li>
                <li><a href="/register">Вход/регистрация</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero-single" style="background-image: url('img/news4.jpg');">
        <div class="hero-content">
            <h1>В Дагестане проводят множество мероприятий к 80-летию Великой Победы</h1>
            <div class="hero-meta">
                <span>Дата публикации: 09.05.2024</span>
                <span>Автор: Редакция сайта</span>
            </div>
        </div>
    </section>

    <main class="news-content">
        <article class="news-section">
            <h2>Главное</h2>
            <p>Встреча главы правительства Республики Дагестан Абдулиуслима Абдулиуслимова с руководителем российской Хаджинским Хибруной Аореным состоялась, о чем проинформировала пресс-служба регионального кабинета.</p>
            <p>Произворачивается РД отметить, что правительство регулярно получает проценты от граждан республики с просьбой отметить заслуги руководства Хаджинским за их поддержку дагестанским паломникам.</p>
            <p>Абдулиуслим Абдулиуслимов выразил привилегичность Хибруне Аорену за его роль в создании благоприятных и безопасных условий для российских вирусовых, совершающих паломничество.</p>
            <p>В знак признания заслуг, премьер Дагестана вручил Хибруне Аорену Почетную грамоту Правительства РД.</p>
            <p>В ходе встречи премьер-министр также вручил Почетную грамоту Правительства РД врачу с 28-летним опытом работы, Мадине Лавлановой, выразив ей благодарность за преданность профессии и помощь, оказавшую множеству пациентов.</p>
        </article>

        <article class="news-section">
            <h2>Основные мероприятия</h2>
            <p>Максималы принимали исторический «Поезд Победы».</p>
            <p>Дефобит встретил День Победы световой инспекции на въездной арке.</p>
            <p>В Сергейский школе состоялись военно-спортивные состязания «Лазерта», посвященные 80-й годовщине Победы в ВОВ.</p>
            <p>Городок в селе Дагестана преобразовался к продукции украшенных зданий, паром, скверы, площади и транспорт.</p>
            <p>На конкурсе «Защитники Отечества» посвящались правлению более 3500 работ.</p>
            <p>Вспоминают трудовый героизм жителей Максимала, а годы войны.</p>
            <p>Более 1500 человек из разных уголков Дагестана, объединенных в более чем 300 южных, участвуют в мире «Неследники Победы».</p>
            <p>В Дагестанском институте развитие образования обсудили роль Дагестана в Великой Отечественной войне за круглых столок.</p>
            <p>Символом 80-летия Победы появится на общественных транспортах Максимала.</p>
            <p>В эксперте во дню Победы будет высажено более 60 деревьев на одной из улиц.</p>
            <p>Администрация Максимала представляет Фотоабординг ВН41 года из эвакогоспиталя в школе № 1 в рамках проекта «80 лет памяти. Страницы Великой победы».</p>
            <p>Истории о подушках ста дагестанцев – участников Великой Отечественной войны, рассказанные их потомками.</p>
            <p>Историческая справка: в этот день 80 лет назад советские войска уничтожили 22 немецких танка и сбили 15 самолетов противника.</p>
            <p>РГВХ «Дагестан» продолжает фильмой памяти и гордости.</p>
        </article>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p>Телефон: +7 (123) 456-78-90</p>
                <p>Email: info@example.com</p>
            </div>

            <div class="footer-section">
                <h3>Адрес</h3>
                <p>г. Москва, ул. Примерная, 123</p>
                <p>Часы работы: 9:00 - 18:00</p>
            </div>
        </div>

        <div class="support-text">
            Все СВОи!
        </div>
    </footer>
</body>
</html>